{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="{% static "web/style.css" %}">

<script>
  var djurl = "{% url 'web:upload' %}";
</script>

<div class="container">
  <div class="navbar">
    <h1>mp3rg</h1>
  </div>
</div>

<div class="jumbotron">

  <div class="container">
    <h2>Normalize your MP3 ReplayGain</h2>
    <p>A ReplayGain value is applied to your .mp3 file based on the file's loudness measurement and the target reference level (89 dB).</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <form id="mp3form" action="{% url "web:upload" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Select a .mp3 file from your computer and click on the upload button.</p>
        {{ form.mp3file }}
        <label>
          <input id="opt1_1" type="radio" name="options" value="normalize" checked>Normalize
          <input id="opt1_2" type="radio" name="options" value="custom" class="more">Custom:  <input name="custom_val" type="text" value="" maxlength="3" size="2" disabled/> dB
        </label>
        <br/>
        <input id="form_submit" type="submit" value="Upload"/>
      </form>
      <p id="msg">Ready</p>
      <div id="progressbar"></div>
    </div>
  </div>

  <hr>

  <footer>
    <p>rkenmi@gmail.com, 2016</p>
  </footer>
</div> <!-- /container -->

<script src="{% static "web/scripts.js" %}"></script>
